/*
Custom Css
*/
.size-width {
  width: 200px;
}

.product-list-div {
  max-height: 600px;
  overflow-y: auto;
}
.product-list-table {
  overflow: auto;
  min-width: 1200px;
  max-width: 1800px;
}
.inventory-list-div {
  max-height: 650px;
  overflow-y: auto;
}
.inventory-list-table {
  overflow: auto;
  min-width: 1200px;
  max-width: 1800px;
}
thead th {
  height: 15px;
  position: sticky;
  top: 0;
  background: white;
  z-index: 10;
}
th,
td {
  min-width: 15px;
}
.form-readonly {
  background-color: lightgray;
}
.card {
  position: relative;
}

.image-wrapper {
  padding-top: 125%; /* ex) 75% for 4:3 aspect ratio, 56.25% for 16:9 aspect ratio */
  overflow: hidden;
}

.card-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card-body {
  position: relative;
}
.delete-button {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 5px;
  margin-right: 5px;
}
.custom-button-size {
  width: 30px;
  height: 30px;
  padding: 0;
  align-items: center;
  justify-content: center;
}

.custom-button-size i {
  font-size: 0.875rem;
  line-height: 1;
}
.min-h {
  min-height: 500px;
}
