<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.mapper.DetailMapper">

	<!-- 상품 상세 조회 -->
<!-- 	<resultMap type="com.project.domain.ProductDTO" id="productDTO">
			<id property="productId" column="product_id"/>
			<result property="brand" column="brand"/>
			<result property="price" column="price"/>
			<result property="detail" column="detail"/>
			<result property="category" column="category"/>
			<result property="productCountry" column="product_country"/>
			<collection property="inventories" resultMap="pi"/>
	</resultMap>

	<resultMap type="com.project.domain.InventoryDTO" id="pi">
		컬러도 같이 셀렉트 해야함.
			<result property="productId" column="product_id"/>
			<result property="productSize" column="product_size"/>	
	</resultMap> -->

	<select id="detail" resultType="com.project.domain.ProductDTO">


	select brand, price, detail, category, product_id, product_country,product_name
	from products
	where product_id = #{productId}
	</select>
	
	
	
	
	<select id="inventoryIdGet" resultType="com.project.domain.InventoryDTO">
			select inventory_id from inventories
			 where product_size=#{productSize}
			  and product_color=#{productColor}
			   and product_id=#{productId}
	</select>
	
	
	
	
	
	<select id="cartIdGet" resultType="com.project.domain.CartDTO">
		select distinct cart_id from carts
		where member_id=#{memberId} 
	</select>
	
	<insert id="cartInsert">
		insert into carts(member_id, product_id,cart_amount,inventory_id)
		values(#{memberId},#{productId},#{cartAmount},#{inventoryId})
	</insert>
	


	<select id="reviewList" resultType="com.project.domain.ReviewDTO">
	<![CDATA[
		select review_id,regdate,contents,product_id,member_id,jumsu
		from (
				select /*+INDEX_DESC(reviews review_id)*/ rownum rn,review_id,
				regdate,contents,product_id,member_id,jumsu
				from reviews
				where rownum <= (#{cri.page}*#{cri.listAmount}) and product_id = #{productId}
			
			)
		where rn > (#{cri.page}-1)*#{cri.listAmount} order by review_id desc
	]]>
	</select>
	
	<select id="reviewTotal" resultType="java.lang.Integer">
		select count(*) from reviews where review_id > 0 and product_id = #{productId}
	</select>
	
	<select id="inventory" resultType="com.project.domain.InventoryDTO">
		select inventory_id,product_id,product_size,quantity,
			   stocked_date,product_color,discontinued
		from inventories
		where inventory_id=#{inventoryId}
	</select>
	
	<select id="color" resultType="com.project.domain.ColorSize">
		SELECT DISTINCT	product_color
		FROM inventories
		WHERE product_id = #{productId}		
		order by product_color
	</select>
	
	<select id="size" resultType="com.project.domain.ColorSize">
		SELECT DISTINCT  product_size
		FROM
		    inventories
		WHERE
		    product_id = #{productId} and product_color=#{productColor}
		order by product_size
	</select>
	
	
</mapper>