<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.mapper.OrderMapper">

         <!-- 주문 상품 정보 -->
         
	<select id="getOrder_list" resultType="com.project.domain.OrderPageProductDTO">
	
	select productId, productName, Price, discountPrice
	from shoes where productId = #{productId}	
	
	</select>
	
	<select id="getOrderInfo" resultType="com.project.domain.OrderProductDTO">
	
	select productId, Price, discountPrice
	from shoes where productId = #{productId}	
	
	</select>

</mapper>