<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.mapper.OrderMapper">

 
	
	<!-- <select id="getOrderInfo" resultType="com.project.domain.OrderProductDTO">
	
	select productId, Price, discountPrice
	from shoes where productId = #{productId}	
	
	</select>
	
	주문 테이블 등록
	<insert id="Order">
	
		insert into Orders(orderId, oredrAddress, memberId)
    	values(#{orderId},#{address}, #{memberId})
	
	</insert>	
	
	주문 아이템 테이블 등록
	<insert id="OrderProduct">
	
		insert into Orders(orderId, productId, cartAmount, Price, discountPrice, detail)
		values(#{orderId}, #{productId}, #{cartAmount}, #{Price}, #{discountPrice}, #{detail})
	
	</insert>	 -->
	
	<!-- Insert order information -->
	<insert id="insertOrder">
    INSERT INTO OrdersTable(orderId, memberId, orderName, orderAddress, orderPhone, orderPayment, totalPrice, orderFinalPrice)
    VALUES (#{orderId}, #{memberId}, #{orderName}, #{orderAddress}, #{orderPhone}, #{orderPayment}, #{totalPrice}, #{orderFinalPrice})
	</insert>

  <!-- Insert order product information -->
	<insert id="insertOrderProduct">
    INSERT INTO OrderProduct (orderId, productId, purchaseAmount, Price, discountPrice, totalPrice)
    VALUES (#{orderId}, #{productId}, #{purchaseAmount}, #{Price}, #{discountPrice}, #{totalPrice})
	</insert>

</mapper>