<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.mapper.ProductMapper">

	<!-- 이 온세일 리스트가, 대표이미지 하나의 정보를 끌어와야함 -->
	<select id="getOnSaleList" resultType="com.project.domain.ProductDTO">
		<![CDATA[
		  	select *
			from(select a.*, rownum rnum
			from(select * from products where on_sale=1 order by
		]]>
		    <choose>
		      <when test="order== 'REGISTERED_DATE DESC'">registered_date desc</when>
		      <when test="order== 'SOLD_COUNT DESC'">sold_count desc</when>
		      <when test="order== 'PRICE DESC'">price desc</when>
		      <when test="order== 'PRICE ASC'">price asc</when>
		      <otherwise></otherwise>
		    </choose>
		<![CDATA[
			) a
			where rownum <= (#{page}*#{listAmount}))
			where rnum> (#{page}-1)*#{listAmount}
		]]>
	</select>
	
	<select id="getOnSaleCount">
		select count(*) from products where on_sale = 1
	</select>
	
	<select id="getTotalList">
		select * from products
			<choose>
		      <when test="searchType == 'productId'"> where product_id = #{keyword} </when>
		      <when test="searchType == 'productName'"> where product_name like CONCAT('%',CONCAT(#{keyword},'%')) </when>
		      <otherwise></otherwise>
		    </choose>
		order by registered_date desc
	</select>
	
	<insert id="insertProduct">
		insert into products values(products_seq.nextval,#{category},#{brand},#{gender},#{detail},#{price},
									#{discountPrice},#{productCountry},#{productYear},#{productName},#{onSale},
									0,sysdate,sysdate)
	</insert>

	<select id="getCurrentProductSequence">
		select products_seq.currval from dual
	</select>
	
	<select id="getProduct" resultType="com.project.domain.ProductDTO">
		select * from products where product_id = #{productId}
	</select>
	
	<update id="updateProduct">
		 update products set category=#{category}, brand=#{brand}, gender=#{gender}, detail=#{detail}, price=#{price},
		 					 discount_price=#{discountPrice}, product_country=#{productCountry},
		 					 product_year=#{productYear}, product_name=#{productName}, on_sale=#{onSale},
		 					 modified_date=sysdate
		 where product_id = #{productId}
	</update>

</mapper>