<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.mapper.PurchaseMapper">

	<select id="getOrderCount">
		select nvl(count(order_id),0) from purchases where trunc(purchase_date) = trunc(sysdate-1) 
	</select>
	
	<select id="getOrderAmount">
		select nvl(sum(pu.purchase_amount*pr.price),0) from purchases pu join products pr on pu.product_id = pr.product_id where trunc(pu.purchase_date) = trunc(sysdate-1) 
	</select>
	
	<select id="getOrderedCustomerCount">
		select nvl(count(distinct member_id),0) from purchases where  trunc(purchase_date) = trunc(sysdate-1) 
	</select>
	
</mapper>