<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.mapper.PurchaseMapper">

	<insert id="insertPurchase">
		insert into purchases(purchase_amount, purchase_date, member_id, product_id, inventory_id)
			values(#{cartAmount}, sysdate, #{memberId}, #{productId}, #{inventoryId})
	</insert>

</mapper>